@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Fredoka+One&family=Irish+Grover&family=Libre+Baskerville&family=Mochiy+Pop+P+One&family=Mohave:ital,wght@0,700;1,700&family=Oswald:wght@500&family=Pacifico&family=Road+Rage&display=swap');

html{
    font-size: 62.25%;
}

*{	padding: 0;
	margin: 0;
    font-family: sans-serif;
}
body{
	background: #EEE5F6;
	width: 100vw;  }
	
	
	

.heading{
    margin-top: 10px;
        font-size: 2.0rem;
        font-weight: 600;
        background: black;
        color: white;
        font-family: 'Oswald', sans-serif;
        width: 50vw;
        border-start-end-radius: 30px;
        padding-left: 8px;
        }

.multiline{
  display: flex;
  flex-wrap: wrap;
  color: black;
  width: 97.5vw;
  height: auto;
  background-color: white;
 border-radius: 10px;
 margin: auto;
 margin-bottom: 15px;
  box-shadow: 1px 1px 5px #D8D0DF;
}


.iconh{	width: 7.0rem; height: 9.0rem;
				background-color: white;
				margin: 0px;
				border-radius: 10px; }
        
.icon{		    width: 6.0rem;
				height: 6.0rem;
				background-color: black;
				margin: 4px;
				border-radius: 9px;
				box-shadow: 1px 1px 2px black;	
				overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
 
        }
.icon img{
    width: 61px;
}

.apps{
				text-align: center;
				font-size: 1.2rem;
        }








/*.logo h1{
    text-decoration: none;
    color: white;
}*/









 










/************************************************/

.main-div{
    background: black;
    height: 100vh; width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.center-div{
    height: 10rem; width:10rem;
    position: relative;
  /*  display: grid;
    place-items: center;*/
    
}
.rot{
    background: black;
    height: 10rem; width: 10rem;
  border-right: 0.3rem solid blue;
  border-radius: 50%;
  animation: rot 2s linear infinite;  
}
@keyframes rot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.loading{
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
    
}
